body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  text-align: center;
}

.container img {
  background-color: #accadf;
}

.slogan {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.reasons-title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.reasons-list {
  list-style: none;
}

.reason-real-city,
.reason-devils-bridge {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-real-city h3,
.reason-devils-bridge h3,
.reason-small-city h3,
.reason-beautiful-road h3,
.reason-few-tourists h3,
.reason-real-city-features h4 {
  font-size: 21px;
  line-height: 37px;
}

.reason-real-city h3,
.reason-devils-bridge h3 {
  font-weight: 700;
}

.reason-real-city img {
  background-color: #73625a;
}

.features-columns {
  background-color: #ffffff;
}

.reason-real-city-features {
  list-style: none;
  color: #333333;
}

.reason-real-city-features h4 {
  color: #000000;
}

.reason-devils-bridge img {
  background-color: #735c4d;
}

.reason-small-city,
.reason-beautiful-road,
.reason-few-tourists {
  background-color: #eeeeee;
}

.reason-small-city h3,
.reason-beautiful-road h3,
.reason-few-tourists h3 {
  color: #000000;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #766357;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map img {
  background-color: #cfdfae;
}

/* Начало стилизации holels.html */

.filters {
  line-height: 21px;
  color: #ffffff;
  text-align: left;

  background-color: #7c8d9d;
  background-image: url("../img/hotels-bg-filter.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-infrastructure ul,
.filter-type ul {
  list-style: none;
}

.filter-price input {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;

  background-color: #ffffff;
}

.hotels-found {
  text-align: left;
}

.sorting-found,
.sorting-total {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.sorting-list-items {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list-items span {
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;

  border-bottom: none;
}

.sorting-item-current a {
  color: #81b3d2;

  border-bottom: none;
}

.hotels-info-list {
  list-style: none;
}

.hotels-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.hotels-item-title:hover,
.hotels-item-title:focus {
  color: #81b3d2;
}

.hotels-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-item-image img {
  background-color: #7c8d9d;
}

.hotels-item-button {
  font-weight: 700;
}

.button-info {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-booking {
  color: #ffffff;
  background-color: #766357;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels-item-number {
  color: #666666;
  background-color: #f2f2f2;
}

/* Конец стилизации hotels.html */

.main-footer {
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-list {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.search-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #ffffff;
  background-color: #766357;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.search-form input {
  font: inherit;

  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

input::-moz-placeholder {
  color: #000000;
}

input::-webkit-input-placeholder {
  color: #000000;
}

input:-ms-input-placeholder {
  color: #000000;
}

.adult-add,
.adult-remove,
.children-add,
.children-remove {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}

.find-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
